* {
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
}

aside {
    float: left;
    height: 200px;
    background-color: blueviolet;
}

main {
    float: left;
    height: 200px;
    background-color: brown;
}